*
 {
	 margin: 0;
	 padding: 0;
 }

header

{
	 background-image: linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.9)),url(biofertilizer-market.jpg);
	background-size: cover;
    height: 100vh;
	 background-position: center;
 }
.main-nav
{
    float: right;
    list-style: none;
    margin-top: 30px;
    margin-right: 50px;
}

.main-nav li
{
    display: inline-block;
}

.main-nav li a
{
    color: white;
    text-decoration: none;
    padding: 5px 20px;
    font-family: monospace;
    font-size: 25px;
}

.main-nav li.active
{
    border: 1px solid white;
}


P1
{
    position: absolute;
    color: white;
    font-size: 25px;
    font-family: sans-serif;
    text-align: center;
    margin-top: 120px;
    margin-left: 200px;
    margin-right: 200px;
}

.e
{
   position: absolute;
    color: white;
    font-size: 15px;
	line-height: 30px;
    font-family: sans-serif;
	letter-spacing: 2px;
    margin-top: 350px;
    margin-left: 250px; 
}

h1
{
     position: absolute;
    color: white;
    font-size: 25px;
    font-family: sans-serif;
    text-align: center;
    margin-top: 0px;
    margin-left: 150px;
    margin-right: 150px;
}

.contactus
{
	position: absolute;
	letter-spacing: 10px;
	color: white;
	font-family: fantasy;
	font-size: 30px;
	margin-top: 30px;
	margin-left: 100px;
}